<%= form_for(@qua, :url => {:action => 'create_ajax', :controller => 'quas'}, :remote => true) do |f| %>
  <% if @qua.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@qua.errors.count, "error") %> prohibited this qua from being saved:</h2>

      <ul>
      <% @qua.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  <%= hidden_field_tag :authenticity_token, form_authenticity_token %>
  <div class="field">
    名前<br>
    <%= f.text_field :name %>
  </div>
  <div class="field">
    緯度<br>
    <%= f.text_field :latitude %>
  </div>
  <div class="field">
    経度<br>
    <%= f.text_field :longitude %>
  </div>
  <div class="field">
    泉質<br>
    <%= f.text_field :quality %>
  </div>
  <div class="field">
    効能<br>
    <%= f.text_field :effect %>
  </div>
  <div class="field">
    Webサイト<br>
    <%= f.text_field :url %>
  </div>
  <div class="field">
    宿泊の必要<br>
    <%= f.radio_button :stay_required, "0" %>無
    <%= f.radio_button :stay_required, "1" %>有
  </div>
  <div class="field">
    料金<br>
    <%= f.text_field :price %>
  </div>
  <div class="field">
    画像タイトル<br>
    <%= f.text_field :image1_caption %>
  </div>
  <div class="field">
    画像ファイル<br>
    <%= f.file_field :image1, accept: "image/jpeg" %>
  </div>
<% end %>
