<%= form_for(@qua) do |f| %>
  <% if @qua.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@qua.errors.count, "error") %> prohibited this qua from being saved:</h2>

      <ul>
      <% @qua.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :name, "名前" %><br>
    <%= f.text_field :name %>
  </div>
  <div class="field">
    <%= f.label :latitude, "緯度" %><br>
    <%= f.text_field :latitude %>
  </div>
  <div class="field">
    <%= f.label :longitude, "経度" %><br>
    <%= f.text_field :longitude %>
  </div>
  <div class="field">
    <%= f.label :quality, "泉質" %><br>
    <%= f.text_field :quality %>
  </div>
  <div class="field">
    <%= f.label :effect, "効能" %><br>
    <%= f.text_field :effect %>
  </div>
  <div class="field">
    <%= f.label :url, "URL" %><br>
    <%= f.text_field :url %>
  </div>
  <div class="field">
    <%= f.label :stay_required, "宿泊の要否" %><br>
    <%= f.radio_button :stay_required, "0" %>不要
    <%= f.radio_button :stay_required, "1" %>必要
  </div>
  <div class="field">
    <%= f.label :price, "値段" %><br>
    <%= f.text_field :price %>
  </div>
  <div class="field">
    <%= f.label :image1_caption, "画像タイトル" %><br>
    <%= f.text_field :image1_caption %>
  </div>
  <div class="field">
    <%= f.label :image1, "画像" %><br>
    <%= f.file_field :image1, accept: "image/jpeg" %>
  </div>
  <div class="actions">
    <%= f.submit "登録する", :class => "btn btn-sm btn-default" %>
  </div>
<% end %>
