<table>
  <thead>
    <tr>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% quas.each do |qua| %>
      <tr>
        <td class="qua_name" ><%= qua.name %></td>
        <td style="visibility:hidden;">       
          <%= qua.id %>,<%= qua.name %>,<%= qua.latitude %>,<%= qua.longitude %>,<%= qua.quality %>,<%= qua.effect %>,<%= qua.stay_required %>,<%= qua.price  %>,<%= qua.url  %>,<%= qua.image1_caption %>,<%= qua.image1.nil? ? '<img class="img_info_window" src="/assets/onsen.png">' : '<img class="img_info_window" src="/quas/' + qua.id.to_s + '/show_image">' %></td>
      </tr>
    <% end %>
  </tbody>
</table>
