<div id='welcome_dialog' style="width: 90%;" class='dialog well'>
  <div id="myCarousel" class="carousel slide" data-ride="carousel" style="margin-bottom: 20px;">

    <!-- Indicators -->
    <ol class="carousel-indicators">
      <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
      <li data-target="#myCarousel" data-slide-to="1"></li>
      <li data-target="#myCarousel" data-slide-to="2"></li>
    </ol>
    <div class="carousel-inner" role="listbox">

      <div class="item active">
        <%= image_tag('top1.jpg', alt:'First slide') %>
        <div class="container">
          <div class="carousel-caption">
            <h1>QuaMapへようこそ</h1>
            <p>QuaMapは温泉の情報に特化した地図情報サービスです。</p>
            <p>　</p>
            <p>　</p>
            <p>　</p>
          </div>
        </div>
      </div>
      <div class="item">
        <%= image_tag('top2.jpg', alt:'Second slide') %>
        <div class="container">
          <div class="carousel-caption">
            <h1>温泉を登録しよう</h1>
            <p>QuaMapでお気に入りの温泉を紹介しましょう！</p>
            <p>　</p>
            <p>　</p>
            <p>　</p>
          </div>
        </div>
      </div>
      <div class="item">
        <%= image_tag('top3.jpg', alt:'Third slide') %>
        <div class="container">
          <div class="carousel-caption">
            <h1>温泉をさがそう</h1>
            <p>QuaMapで温泉を探しましょう！</p>
            <p>　</p>
            <p>　</p>
            <p>　</p>
          </div>
        </div>
      </div>
    </div>
    <a class="left carousel-control" href="#myCarousel" role="button" data-slide="prev">
      <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
      <span class="sr-only">Previous</span>
    </a>
    <a class="right carousel-control" href="#myCarousel" role="button" data-slide="next">
      <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
      <span class="sr-only">Next</span>
    </a>
  </div>
  <div class="container marketing">
    <div class="row">
      <div class="col-lg-4">
        <a class="welcome_dialog_close qua_entry_dialog_open" onclick="onOpenQuaEntryDialog()">
        <%= image_tag('top4.jpg', class:'img-circle', style:'width: 140px; height: 140px;') %>
        <h2>温泉を登録する</h2>
        </a>
        <p>温泉の登録はこちらから</p>
      </div>
      <div class="col-lg-4">
        <a class="welcome_dialog_close" onclick="document.getElementById('inc_search').focus();">
        <%= image_tag('top5.jpg', class:'img-circle', style:'width: 140px; height: 140px;') %>
        <h2>名前で検索する</h2>
        </a>
        <p>温泉を検索できます。</p>
      </div>
      <div class="col-lg-4">
        <a id="nav_gps" class="welcome_dialog_close">
        <%= image_tag('top6.jpg', class:'img-circle', style:'width: 140px; height: 140px;') %>
        <h2>近くの温泉を探す</h2>
        </a>
        <p>近所の地図を表示します。<br />（GPSをONにしてください。）</p>
      </div>
    </div>
  </div>
</div>

