<html>
<head>
	<title>The Qua Map - Qua/Spa infomation!</title>
	<meta http-equiv="content-type" content="text/html; charset=utf-8" />
	<script type="text/javascript" src="//maps.google.com/maps/api/js?sensor=false"></script>
	<script type="text/javascript" src="//ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
	<script type="text/javascript" src="//ajax.googleapis.com/ajax/libs/jqueryui/1.11.2/jquery-ui.min.js"></script>
	<script src="http://malsup.github.com/jquery.form.js"></script>
	<%= stylesheet_link_tag "bootstrap.min" %>
	<%= stylesheet_link_tag "carousel" %>
	<%= javascript_include_tag "jquery.popupoverlay" %>
	<%= javascript_include_tag "jquery.raty" %>
	<%= javascript_include_tag "googlemap" %>
	<%= javascript_include_tag "bootstrap" %>
	<link rel="stylesheet" href="//ajax.googleapis.com/ajax/libs/jqueryui/1.11.2/themes/smoothness/jquery-ui.css">
	<style>
	div.window_comment, span.window_comment{
		border: 1px #AAAAAA none;
		border-collapse: collapse;
		padding: 5px 8px 8px 5px;
	}
	div #review_dialog{
		max-height: 95%;
		overflow: scroll;
		width: 70%;
		transition: all 0.3s;
		margin: 20px 0px 0px 0px;
	}
	span #label{
		width: 150px;
	}
	</style>
	<script type="text/javascript">

function getLatLngFromKeyword(place){
  (function($){
    $(function() {
      // ジオコーダのコンストラクタ
      var geocoder = new google.maps.Geocoder();
      // geocodeリクエストを実行。
      // 第１引数はGeocoderRequest。住所⇒緯度経度座標の変換時はaddressプロパティを入れればOK。
      // 第２引数はコールバック関数。
      geocoder.geocode({
        address: place
      }, function(results, status) {
        if (status == google.maps.GeocoderStatus.OK) {
          if (results[0].geometry) {

            // 緯度経度を取得
            var latlng = results[0].geometry.location;

            // 住所を取得(日本の場合だけ「日本, 」を削除)
            var address = results[0].formatted_address.replace(/^日本, /, '');
          	$("#qua_latitude").val(latlng.k);
          	$("#qua_longitude").val(latlng.B);
	          mapObj.panTo(latlng);
          }
        } else if (status == google.maps.GeocoderStatus.ERROR) {
          // console.log("サーバとの通信時に何らかのエラーが発生！");
        } else if (status == google.maps.GeocoderStatus.INVALID_REQUEST) {
          // console.log("リクエストに問題アリ！geocode()に渡すGeocoderRequestを確認せよ！！");
        } else if (status == google.maps.GeocoderStatus.OVER_QUERY_LIMIT) {
          // console.log("短時間にクエリを送りすぎ！落ち着いて！！");
        } else if (status == google.maps.GeocoderStatus.REQUEST_DENIED) {
          // console.log("このページではジオコーダの利用が許可されていない！・・・なぜ！？");
        } else if (status == google.maps.GeocoderStatus.UNKNOWN_ERROR) {
          // console.log("サーバ側でなんらかのトラブルが発生した模様。再挑戦されたし。");
        } else if (status == google.maps.GeocoderStatus.ZERO_RESULTS) {
          // console.log("見つかりません");
        } else {
          // console.log("えぇ～っと・・、バージョンアップ？");
        }
      });
    });
  })(jQuery);
}

	/** 「レビューを見る」クリック時の挙動 */
	function reviewLinkClicked(link){
		(function($){
			$(function() {
				var qua_id = $(link).attr("id").substr(17);	// link.id = "link_show_review_xxx", and qua_id = xxx.
				$.ajax({
					url: "reviews/list_by_qua",
					type: 'get',
					data: "qua_id=" + qua_id,
					dataType: "json",
					success: function(data) {
						var average = data.average_score.average_score;
						var count_review = data.count_review;
						var qua = data.quas;			// 温泉 自分自身が1件入っている
						var reviews = data.reviews;	// 空配列の可能性もある
						createReviewDialog(qua, reviews, count_review, average);
					}
				});
			});
		})(jQuery);
	}
	function createReviewDialog(qua, reviews, count_review, average){
		(function($){
			$(function() {
				createReviewDialogTop(qua);
				createReviewDialogQuaInfo(qua, count_review, average);

				// レビュー記事を作成する
				// 件数を出したり、「ありません」とか出したりしたい
				replaceItem(".top-end","review_body_top", "h3", qua.name + "の記事一覧"  );
				// 表示していたレビューを（あれば）消す
				$("#review_contents").remove();
				$("#container").remove();
				// 「書き込む」ボタンを表示していたら消す
				$("#btn_enter_review").remove();
				// レビューコンテンツ基底クラスを追加する
				$(".review_body").append("<div id='review_contents'> </div>");
				reviews.forEach(function(review, index, reviews) {
					createReviewItem(review);
				});

			});
		})(jQuery);
	}
	function createReviewDialogTop(qua){
		(function($){
			$(function() {

				// 画面タイトル
				$("#review_qua_title").remove();
				if(qua.name !== null){
					$(".review-top").append('<h2 id="review_qua_title">' + qua.name + '</h2>');
				}
				// トップ画像
				$("#review_qua_img").remove();
				if(qua.image1 !== null){
					$(".review-top").append('<img id="review_qua_img" src="/quas/' + qua.id + '/show_image">');
				}else{
					$(".review-top").append('<%= image_tag('onsen.png', id:'review_qua_img', alt:'No image') %>');
				}
			});
		})(jQuery);
	}

	function createReviewDialogQuaInfo(qua, count_review, average){
		(function($){
			$(function() {
				// 泉質
				replaceItem("#review_qua_quality_item","review_qua_quality_value", "span", qua.quality);

				// 効能
				replaceItem("#review_qua_effect_item","review_qua_effect_value","span", qua.quality);

				// URL
				replaceItem("#review_qua_url_item","review_qua_url_value","span", "<a href='" + qua.url + "' target='_blank'>" + qua.url + "</a>");

				// 宿泊の要不要（ → 施設区分）
				replaceItem("#review_qua_category_item","review_qua_category_value", "span", (qua.stay_required ? '要宿泊' : '宿泊不要'));

				// 価格
				replaceItem("#review_qua_price_item","review_qua_price_value", "span", (qua.price === null ? "不明" : qua.price + "円" ));

				// 平均評価
				if(count_review === 0){
					replaceItem("#review_avarage_total_score_item","review_avarage_total_score_value", "span", "まだ評価がありません");
					$("#review_qua_avarage_label").remove();
				}else{
					var score_string_to_num = Number(average);
					var fixed_avarage_score = score_string_to_num.toFixed(2);
					// raty領域と評価人数を書き出す
					$("#review_avarage_total_score_value").remove();

					$("#review_avarage_total_score_item").append("<div id='review_avarage_total_score_value'> </div>");
					replaceItem("#review_avarage_total_score_label","review_qua_avarage_label", "span", fixed_avarage_score + "<br /><br />" + count_review + "件の評価");
					// $("#review_avarage_total_score_label").append(
					//	"<span>" + count_review + "件の評価</span>");
					// $("#review_avarage_total_score_value").append(
					// 	"<div id='average_score_" + qua.id + "’>&nbsp;</div>");


					execRaty("#review_avarage_total_score_value", fixed_avarage_score);
				}
			});
		})(jQuery);
	}


	/** 文字列コンテンツを配下に持つ要素タグを挿入する。*/
	function replaceItem(parent, element, tag, item){
		(function($){
			$(function() {
				$("#" + element).remove();
				if(item !== null){
					$(parent).append('<' + tag + ' id="' + element + '">' + item + '</' + tag + '>');
				}
			});
		})(jQuery);
	}

	/** レビューもしくは記事１件をビルドする。 */
	function createReviewItem(review){
		(function($){
			$(function() {
				// レビューか記事かで記述内容を替える
				// total_scoreが入っていたらレビューと見なす
				if(review.total_score !== null){
					createReviewItemReview(review);
				}else{
					createReviewItemContent(review);
				}
			});
		})(jQuery);
	}
	/** レビュー１件をビルドする。 */
	function createReviewItemReview(review){
		(function($){
			$(function() {
				var id = 'review_content_' + review.qua_id + '_' + review.id;
				// 基底タグ idにreview.id(review_content_xxx)を格納する
				var content =  $('<div id="' + id +'" class="review-content"></div>');
				// $("#review_contents").append('<div id="' + id +'" class="review-content"></div>').append(
					$("#review_contents").append(content);
					// 基底タグにコンテンツを追加する
					content.append(
					// イメージ
					// if(review.photodata !== null){	// イメージがあるかどうかで分岐させる
					'<div id="review_title_' + review.qua_id + '_' + review.id + '"><img class="review_image" src="/reviews/' + review.id + '/show_image"/></div>' +
					// タイトル
					'<h4>' + review.title + '</h4>').append(
					// 名前
					'<div id="review_nickname_' + review.qua_id + '_' + review.id + '"><span>名前：<a href="mailto:' + review.email +'">' + review.nickname + '</a></span></div>').append(
					// 投稿日時
					// '<div id="review_title_' + review.id + '"><span>' + review.updated_at + '</span></div>');

					// --ここからレビュー
					// 総合評価
					'<div id="score_' + review.qua_id + '_' + review.id + '">' +
					'<span>総合評価：</span><div id="review_total_' + review.qua_id + '_' + review.id + '"></div>').append(
					// 泉質
					'<span>泉質：</span><div id="review_quality_' + review.qua_id + '_' + review.id + '"></div>').append(
					// 行きやすさ・使いやすさ：
					'<span>行きやすさ・使いやすさ：</span><div id="review_convinience_' + review.qua_id + '_' + review.id + '"></div>').append(
					// 価格：
					'<span>価格：</span><div id="review_cost_' + review.qua_id + '_' + review.id + '"></div>').append(
					// 景観 / その他：
					'<span>景観 / その他：</span><div id="review_sight_' + review.qua_id + '_' + review.id + '"></div></div>').append(
					// --ここまでレビュー
					// コメント
					'<div id=”comment_' + review.qua_id + '_' + review.id +'"><span>コメント：</span><br />' + review.comment + '</div>').append(
					'<div class="review-sep"><hr /></div>');
				// raty実行
				execRaty("#review_total_" + review.qua_id + '_' + review.id, review.total_score);
				execRaty("#review_quality_" + review.qua_id + '_' + review.id, review.quality_score);
				execRaty("#review_convinience_" + review.qua_id + '_' + review.id, review.convinience_score);
				execRaty("#review_cost_" + review.qua_id + '_' + review.id, review.cost_score);
				execRaty("#review_sight_" + review.qua_id + '_' + review.id, review.sight_score);
			});
		})(jQuery);
	}
	/** 記事１件をビルドする。 */
	function createReviewItemContent(review){
		(function($){
			$(function() {
				var id = 'review_content_' + review.qua_id + '_' + review.id;
				// 基底タグ idにreview.id(review_content_xxx)を格納する
				var content =  $('<div id="' + id +'" class="review-content"></div>');
					$("#review_contents").append(content);
					// 基底タグにコンテンツを追加する
					content.append(
					// イメージ
					// if(review.photodata !== null){	// イメージがあるかどうかで分岐させる
					'<div id="review_title_' + review.qua_id + '_' + review.id + '"><img class="review_image" src="/reviews/' + review.id + '/show_image"/></div>' +
					// タイトル
					'<h4>' + review.title + '</h4>').append(
					// 名前
					'<div id="review_title_' + review.qua_id + '_' + review.id + '"><span>名前：<a href="mailto:' + review.email +'">' + review.nickname + '</a></span></div>').append(
					// 投稿日時
					// '<div id="review_title_' + review.id + '"><span>投稿日時：' + review.updated_at + '</span></div>').append(
					// コメント
					'<div id=”comment_' + review.qua_id + '_' + review.id +'"><span>コメント：</span><br />' + review.comment + '</div>').append(
					'<div class="review-sep"><hr /></div>');
			});
		})(jQuery);
	}
	/** 「レビューを書く」クリック時の挙動 */
	function reviewEntryLinkClicked(link){
		(function($){
			$(function() {
				var qua_id = $(link).attr("id").substr(18);	// link.id = "link_enter_review_xxx", and qua_id = xxx.
				$.ajax({
					url: "reviews/new_ajax",
					type: 'get',
					data: "qua_id=" + qua_id,
					dataType: "json",
					success: function(data) {
						var count_review = data.count_review;
						var average = data.average_score.average_score;
						var qua = data.quas;			// 温泉 自分自身が1件入っている
						createReviewEntryDialog(qua, count_review, average);
					}
				});
			});
		})(jQuery);
	}
	/** 「レビューを書く」ダイアログを生成する */
	function createReviewEntryDialog(qua, count_review, average){
		(function($){
			$(function() {
				<% @review = Review.new %>
				// タイトル・トップ画像を消す
				$("#review_qua_title").remove();
				$("#review_qua_img").remove();

				// 表示していたレビュー/登録フォームを（あれば）消す
				$("#review_body_top").remove();
				$("#review_contents").remove();
				$("#container").remove();
				// レビュー基底クラスを追加する
				$(".review-top").append("<div id='container'> </div>");
				// $(".review_body").append("<div id='container'> </div>");

				// tab navigation(with bootstrap.js)
				$("#container").append(
					'<ul class="nav nav-tabs">' +
						'<li class="active"><a href="#tab1" data-toggle="tab">記事を書く</a></li>' +
						'<li><a href="#tab2" data-toggle="tab">評価する</a></li></ul>'
				);
				$("#container").append(
						'<div id="myTabContent" class="tab-content"> </div>'
				);
				// tab1 記事タブ
				$("#myTabContent").append(
						'<div class="tab-pane fade in active" id="tab1">' +
							'<h3>' + qua.name + 'の記事を書く</h3>' +
							( qua.image1 !== null ?
								'<img id="review_qua_img" class="img_review_entry" src="/quas/' + qua.id + '/show_image">'
								: '<%= image_tag('onsen.png', id:'review_qua_img',  class:'img_review_entry', alt:'No image') %>'
							) +
							'<%= form_for(@review, :url => {:action => 'create_ajax', :controller => 'reviews'}, :remote => true) do |f| %>' +
								'<hr />' +
								'<%= hidden_field_tag :authenticity_token, form_authenticity_token %>' +
								'<input id="review_qua_id" name="review[qua_id]" type="hidden" value="' + qua.id +'">' +
								'<div class="field">' +
									'<%= f.label :title, "タイトル:" %>' +
									'<%= f.text_field :title %>' +
								'</div>' +
								'<div class="field">' +
									'<%= f.label :nickname, "ユーザー名:" %>' +
									'<%= f.text_field :nickname %>' +
								'</div>' +
								'<div class="field">' +
									'<%= f.label :email, "メールアドレス:" %>' +
									'<%= f.text_field :email %>' +
								'</div>' +
								'<div class="field">' +
									'<%= f.label :comment, "コメント:" %>' +
									'<textarea id="review_comment" name="review[comment]">' +
									'</textarea>' +
								'</div>' +
								'<div class="field">' +
									'<%= f.label :photo_data, "画像:" %>' +
									'<%= f.file_field :photo_data, accept: "image/jpeg" %>' +
								'</div>' +
							'<% end %>' +
						'</div>'
				);
				// tab2 評価タブ
				$("#myTabContent").append(
						'<div class="tab-pane fade" id="tab2">' +
							'<h3>' + qua.name + 'を評価する</h3>' +
							( qua.image1 !== null ?
								'<img id="review_qua_img" class="img_review_entry" src="/quas/' + qua.id + '/show_image">'
								: '<%= image_tag('onsen.png', id:'review_qua_img',  class:'img_review_entry', alt:'No image') %>'
							) +
							'<%= form_for(@review, :url => {:action => 'create_ajax', :controller => 'reviews'}, :remote => true) do |f| %>' +
								'<hr />' +
								'<%= hidden_field_tag :authenticity_token, form_authenticity_token %>' +
								'<input id="review_qua_id" name="review[qua_id]" type="hidden" value="' + qua.id +'">' +
								'<div class="field">' +
									'<%= f.label :title, "タイトル:" %>' +
									'<%= f.text_field :title %>' +
								'</div>' +
								'<div class="field">' +
									'<%= f.label :nickname, "ユーザー名:" %>' +
									'<%= f.text_field :nickname %>' +
								'</div>' +
								'<div class="field">' +
									'<%= f.label :email, "メールアドレス:" %>' +
									'<%= f.text_field :email %>' +
								'</div>' +
								'<div class="field">' +
									'<%= f.label :comment, "コメント:" %>' +
									'<textarea id="review_comment" name="review[comment]">' +
									'</textarea>' +
								'</div>' +
								'<div class="clear"><hr /></div>' +
								'<div class="field">' +
									'<%= f.label :total_score, "総合評価:" %>' +
									'<select id="review_total_score" name="review[total_score]" class="review_select"><option value="5">最高</option>' +
									'<option value="4">良い</option>' +
									'<option value="3" selected>標準</option>' +
									'<option value="2">もう少し</option>' +
									'<option value="1">不満</option></select>' +
									'<div id="review_total_score_raty" class="review_raty"></div>' +
									'<div class="clear"></div>' +
								'</div>' +
								'<div class="field">' +
									'<%= f.label :quality_score, "泉質:" %>' +
									'<select id="review_quality_score" name="review[quality_score]" class="review_select"><option value="5">最高</option>' +
									'<option value="4">良い</option>' +
									'<option value="3" selected>標準</option>' +
									'<option value="2">もう少し</option>' +
									'<option value="1">不満</option></select>' +
									'<div id="review_quality_score_raty" class="review_raty"></div>' +
									'<div class="clear"></div>' +
								'</div>' +
								'<div class="field">' +
									'<%= f.label :convinience_score, "行きやすさ・使いやすさ:" %>' +
									'<select id="review_convinience_score" name="review[convinience_score]" class="review_select"><option value="5">最高</option>' +
									'<option value="4">良い</option>' +
									'<option value="3" selected>標準</option>' +
									'<option value="2">もう少し</option>' +
									'<option value="1">不満</option></select>' +
									'<div id="review_convinience_score_raty" class="review_raty"></div>' +
									'<div class="clear"></div>' +
								'</div>' +
								'<div class="field">' +
									'<%= f.label :cost_score, "価格:" %>' +
									'<select id="review_cost_score" name="review[cost_score]" class="review_select"><option value="5">最高</option>' +
									'<option value="4">良い</option>' +
									'<option value="3" selected>標準</option>' +
									'<option value="2">もう少し</option>' +
									'<option value="1">不満</option></select>' +
									'<div id="review_cost_score_raty" class="review_raty"></div>' +
									'<div class="clear"></div>' +
								'</div>' +
								'<div class="field">' +
									'<%= f.label :sight_score, "景観 ／ その他:" %>' +
									'<select id="review_sight_score" name="review[sight_score]" class="review_select"><option value="5">最高</option>' +
									'<option value="4">良い</option>' +
									'<option value="3" selected>標準</option>' +
									'<option value="2">もう少し</option>' +
									'<option value="1">不満</option></select>' +
									'<div id="review_sight_score_raty" class="review_raty"></div>' +
									'<div class="clear"></div>' +
								'</div>' +
								'<div class="field">' +
									'<%= f.label :photo_data, "画像:" %>' +
									'<%= f.file_field :photo_data, accept: "image/jpeg" %>' +
								'</div>' +
							'<% end %>' +
						'</div>'
				);
				$("#btn_enter_review").remove();
				$("#btn_close_review").before(
					'<button id="btn_enter_review" class="btn btn-default">書き込む</button>'
				);
				createReviewDialogQuaInfo(qua, count_review, average);
				// ratyを初期化する
				$(".review_select").each(function (index, elem) {
					execRaty( "#" + elem.id + "_raty", 3);
				});
				// select操作時にratyを動かす
				$(".review_select").change(function(e){
					execRaty("#" + this.id + "_raty", e.target.value);
				})
				$("#btn_enter_review").click(function(e){
					var t = $(".tab-pane.in.active");

					// formが同名になってしまうので各タブの子要素から探す
					var nr = t.children("#new_review");
					nr.ajaxSubmit(function(data) {
						// 「レビューを見る」を表示
						$('#link_show_review_' + qua.id ).click();
					});
					// いったん自分を閉じる
					$("#btn_close_review").click();
				});
			});
		})(jQuery);
	}

  function execRaty(elem, value){
		(function($){
			$(function() {
				$(elem).raty({
					readOnly: true,
					score: value,
					starHalf  : '<%= asset_path "star-half.png" %>',
					starOff  : '<%= asset_path "star-off.png" %>',
					starOn   : '<%= asset_path "star-on.png" %>'
				});
			});
		})(jQuery);
  }
  function editQuaLinkClicked(link){
		(function($){
			$(function() {
				var qua_id = $(link).attr("id").substr(14);	// link.id = "link_edit_qua_xxx", and qua_id = xxx.
				$.ajax({
					url: "quas/" + qua_id,
					type: 'get',
					dataType: "json",
					success: function(data) {
						// 温泉登録ダイアログに情報を入力する
						$('#new_qua').attr("action", "/quas/" + data.id);
						$('#qua_name').val(data.name);
						$('#qua_latitude').val(data.latitude);
						$('#qua_longitude').val(data.longitude);
						$('#qua_quality').val(data.quality);
						$('#qua_effect').val(data.effect);
						$('#qua_url').val(data.url);
						if(data.stay_required===1){
							$('#qua_stay_required_1').attr("checked", true);
						}else{
							$('#qua_stay_required_0').attr("checked", true);
						}
						$('#qua_price').val(data.price);
						$('#qua_image1_caption').val(data.image1_caption);
						// 編集・削除ボタンを表示する
						$("#buttonQuaEntry").hide();
						$("#buttonQuaEdit").show();
						$("#buttonQuaDestroy").show();

						$('#qua_entry_dialog').popup('show');
					}
				});
			});
		})(jQuery);

  }
  function execQuaEntry(elem, value){
		(function($){
			$(function() {
				// #new_quaにsubmitを行なう。
				// 実行後にwelcome/index.html.erbを再表示する。
				$("#new_qua").ajaxSubmit(function(data) {
						var qua = data.qua;
						var image = qua.image1 == null ? '<img class="img_info_window" src="/assets/onsen.png">' : '<img class="img_info_window" src="/quas/' + qua.id + '/show_image">'
						entryMapIcon(qua.id, qua.name, qua.latitude, qua.longitude, qua.quality, qua.effect,
							qua.stay_required, qua.price, qua.url, qua.image1_caption, image , true);
				});
			});
		})(jQuery);
  }
  function execQuaEdit(elem, value){
		(function($){
			$(function() {
				// #new_quaにsubmitを行なう。
				// 実行後にwelcome/index.html.erbを再表示する。
				$.ajax({
					url: $("#new_qua").attr("action"),
					data: $("#new_qua").serializeArray(),
					type: 'put',
					dataType: "json",
					success: function(data) {
						alert("edit");
					}
				});
			});
		})(jQuery);
  }
  function execQuaDestroy(elem, value){
		(function($){
			$(function() {
				$.ajax({
					url: $("#new_qua").attr("action"),
					data: $("#new_qua").serializeArray(),
					type: 'delete',
					dataType: "json",
					success: function(data) {
						var qua_id = $(this).attr("url").substr(6);	// this.url = "/quas/xxx", and qua_id = xxx.
						// infoWindowを閉じて消す
						arrInfoWindows[qua_id].close();
						arrInfoWindows[qua_id] = null;
						// 対象のアイコンを消す
						arrQuaMarkers[qua_id].setMap(null);// marker.setMap(null);
						arrQuaMarkers[qua_id] = null;
					}
				});

			});
		})(jQuery);
  }

  function onOpenQuaEntryDialog(){
		(function($){
			$(function() {
				// ひょっとしたら・・actionの書き換えが要るかもしれない
				$('#new_qua').attr("action", "/quas/create_ajax");
				$("#buttonQuaEntry").show();
				$("#buttonQuaEdit").hide();
				$("#buttonQuaDestroy").hide();
				// 緯度・経度を現在の中心点で入力しておく
				var latlng = mapObj.getCenter();
				$("#qua_latitude").val(latlng.lat());
				$("#qua_longitude").val(latlng.lng());
			});
		})(jQuery);
  }
	// google map object
	var mapObj;
	// qua marker objects
	var arrQuaMarkers = [];
	// InfoWindows objects
	var arrInfoWindows = [];
    function getQuaDialogString(id, name, quality, effect, stay_required, price, url, image_caption, image){
    	var ret =
    	  '<div id="content_qua_' + id + '" class="info_window">'+
    	  '<div id="siteNotice"></div>' +
    	   image +
    	  '<div class="firstheading"><h1 id="firstHeading">' + name + '</h1></div>'+
    	  '<div style="clear: both;"></div>' +
    	  '<div id="bodyContent" class="min-width:450px; width: 100%; clear: both;">'+
    	  '<p style="white-space: nowrap;"><b>泉質:</b>' + quality + '</p>'+
    	  '<p><b>効能:</b>' + effect + '</p>'+
    	  '<p><b>宿泊の必要:</b>' + (stay_required ? '有' : '無') + '</p>'+
    	  '<p><b>料金:</b>' + (price === "" ? "不明" : price + "円" ) + '</p>';
				if(url !== ''){
					ret += '<p style="white-space: nowrap;"><a href="' + url + '" target="_brank"><b>Website</b></a></p>';
				}else{
					ret += '<p style="white-space: nowrap;"><b>No Website</b></a></p>';
				}
				ret += '</div>';	// end of 'bodyContent'
				ret += '<div><button id="link_enter_review_' + id + '" class="btn btn-sm btn-link review_dialog_open" onclick="reviewEntryLinkClicked(this)">レビューを書く</button>';
				ret += '<button id="link_show_review_' + id + '" class="btn btn-sm btn-link review_dialog_open" onclick="reviewLinkClicked(this)">レビューを見る</button>';
				ret += '<button id="link_edit_qua_' + id + '" class="btn btn-sm btn-link" onclick="editQuaLinkClicked(this)">温泉情報を修正する</button></div>';
				ret += '</div>';	// end of 'content_qua_xxx'
    	  '</div></div>';
    	return ret;
    }
	// 温泉情報　名称,緯度,経度,泉質,効能
    var stations = [
        <% @quas.each do |q| %>
	    [ '<%= q.id %>', '<%= q.name %>', <%= q.latitude %>, <%= q.longitude %>,'<%= q.quality.html_safe %>',
	    '<%= q.effect.html_safe %>', '<%= q.stay_required %>', '<%= q.price %>', '<%= q.url %>', '<%= q.image1_caption %>',
	    '<%= q.image1.present? ? image_tag(show_image_qua_path(q), class:'img_info_window', alt:'No image') : image_tag('onsen.png', class:'img_info_window', alt:'No image') %>'] <%= ", " unless q == @quas.last %>
        <% end %>
    ];

	// マーカーを作成
	var icon = new google.maps.MarkerImage('http://docs.google.com/uc?export=view&id=0B15A7hRyx7EIVjJTNkZpYjJGQlk',
		// This marker is 20 pixels wide by 32 pixels tall.
		new google.maps.Size(24, 24),
		// The origin for this image is 0,0.
		new google.maps.Point(0,0),
		// The anchor for this image is the base of the flagpole at 0,32.
		new google.maps.Point(0, 24)
	);
	function entryMapIcon(id, title, lat, lng, quality, effect, stay_required, price, url, image_caption, image, disp){
			var latlng = new google.maps.LatLng(lat, lng);
			var marker = new google.maps.Marker({
				position: latlng,
				map: mapObj,
				title: title,
				icon: icon
			});
			arrQuaMarkers[id] = marker;	// マーカーを配列で管理する
			var infowindow = new google.maps.InfoWindow({
				content: getQuaDialogString(id, title, quality, effect, stay_required, price, url, image_caption, image)
			});
			arrInfoWindows[id] = infowindow;	// infowindowも配列で管理する
			google.maps.event.addListener(marker, 'click', function() {
			  infowindow.open(mapObj,marker);
			  // 楽天APIの呼び出しを行なう
			});
			if(disp){
			  infowindow.open(mapObj,marker);
			}
	}
	(function($){
		$(function() {
			$('#welcome_dialog').popup({
				autoopen: "true",
				traisition: 'all 0.3s'
			});
			function mapClicked(e){
				$("#qua_latitude").val(e.latLng.lat());
				$("#qua_longitude").val(e.latLng.lng());
			}
			function  displayMap(){
				var center = new google.maps.LatLng(<%= @center.latitude %>, <%= @center.longitude %>);
				var mapOptions = {
					zoom: 14,
					center: center,
					mapTypeIds: [google.maps.MapTypeId.ROADMAP, 'map_style'],
					scaleControl: true
				};
				mapObj = new google.maps.Map(document.getElementById('gmap'), mapOptions);

				// Create a new StyledMapType object, passing it the array of styles,
				// as well as the name to be displayed on the map type control.
				var styledMap = new google.maps.StyledMapType(styles,
					{name: "Styled Map"});
				//Associate the styled map with the MapTypeId and set it to display.
				mapObj.mapTypes.set('map_style', styledMap);
				mapObj.setMapTypeId('map_style');

				$.each(stations, function(){
                    var eps = 1e-6;
					entryMapIcon(this[0], this[1], this[2], this[3], this[4], this[5], this[6], this[7], this[8], this[9],
						this[10],
					    this[2] - eps < center.lat() && center.lat() < this[2] + eps
					    && this[3] - eps < center.lng() && center.lng() < this[3] + eps );
				});
				var kmlLayer = new google.maps.KmlLayer({
					driveFileId: "0B2w7buxyq8qvU3hCZzFfWTFkajQ",
					preserveViewport: true
				});
				kmlLayer.setMap(mapObj);
				google.maps.event.addListener(mapObj, 'click', mapClicked);
			};
			google.maps.event.addDomListener(window, 'load', displayMap);
			$('#qua_entry_dialog').popup({
				type: 'tooltip',
				blur: false,
				horizontal: 'leftedge',
				vertical: 'top',
				offsettop: 40,
				offsetleft: 110,
				tooltipanchor: $('#buttonOpenQuaEntryDialog'),
				traisition: 'all 0.3s',
				opacity: 0.3,
				opentransitionend: function() {
					$("#qua_name").focus();
				}
			});
			$('#review_dialog').popup({
				traisition: 'all 0.3s',
				opacity: 0.3
			});
			$("#adminmenu").click(function(){
				$("#div_admin").toggle();
			});
			$("#nav_gps").click(function(){
				if(navigator.geolocation){
					// alert("位置情報は使用可能です");
					navigator.geolocation.getCurrentPosition(onSuccess, onError, {enableHighAccuracy:true});
					function onSuccess(pos){
						mapObj.panTo({ lat: pos.coords.latitude, lng: pos.coords.longitude});	// LatLngLiteral
					}
					function onError(pos){
						alert("error!");
					}
				}
			});
		});
	})(jQuery);
	</script>
</head>
<body>
	<div id="wrapper" style="width: 100%; height: 100%;">
		<h1>The QUA Map</h1>
		<div id="search_area" style="float: right; margin: 5px 1% 5px 0px;">
                <ul id="menu">
                    <span class='glyphicon glyphicon-search'></span><input id="inc_search" type="text"><button type="button" class='btn btn-default btn-xs' onclick="getLatLngFromKeyword(search.value)">検索</button>

                    <ul id="qua_list">
                      <%= render partial: 'qua_list', locals: { quas: @quas} %>
                    </ul>
                </ul>
		</div>
		<div id="adminmenu">日本温泉マップ</div>
		<div id="gmap" style="width: 99%; min-height: 500px; border: 1px solid Gray;">
		</div>
		<div>
			<br />
			<button id='buttonOpenQuaEntryDialog' type='button' class='btn btn-sm btn-default qua_entry_dialog_open' onclick="onOpenQuaEntryDialog()">温泉を登録する</button>
			<button id='buttonOpenWelcomeDialog' type='button' class='btn btn-sm btn-default welcome_dialog_open'>トップ画面を再表示する</button>
		</div>
		<br />
		<div id="div_admin" style="display: none; border: solid 1px; width: 100px;">
			<p>管理者メニュー</p>
			<a id='link_quas' href='/quas' target='_blank'>Quas</a>
			<br />
			<a id='link_reviews' href='/reviews' target='_blank'>Reviews</a>
		</div>
		<%= render 'qua_entry_dialog' %>
		<%= render 'review_dialog' %>
		<%= render 'welcome_dialog' %>
	</div>
</body>
</html>
